<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--加载配置文件-->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>

    <!-- 定义rabbitmq connectionFactory -->
    <rabbit:connection-factory id="connectionFactory" host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"
                               virtual-host="${rabbitmq.virtual-host}"/>

    <bean id="springQueueListener" class="org.example.consumer.SpringQueueListener"/>
    <bean id="fanoutListener1" class="org.example.consumer.FanoutListener1"/>
    <bean id="fanoutListener2" class="org.example.consumer.FanoutListener2"/>
    <bean id="topicListenerStar" class="org.example.consumer.TopicListenerStar"/>
    <bean id="topicListenerWell" class="org.example.consumer.TopicListenerWell"/>
    <bean id="topicListenerWell2" class="org.example.consumer.TopicListenerWell2"/>
    <!-- 消息手动签收确认 -->
    <bean id="consumerAcknowledge" class="org.example.ConsumerAcknowledge.AckListener"/>



    <!-- 定义监听器容器 acknowledge="manual"：手动签收 -->
    <!-- prefetch="2" 消费端每次取两条 -->
    <rabbit:listener-container
            connection-factory="connectionFactory"
            auto-declare="true"
            acknowledge="manual"
            prefetch="2"
    >
        <rabbit:listener ref="springQueueListener" queue-names="spring_queue"/>
        <!-- 消息手动签收确认时注释掉 -->
<!--        <rabbit:listener ref="fanoutListener1" queue-names="spring_fanout_queue_1"/>-->
<!--        <rabbit:listener ref="fanoutListener2" queue-names="spring_fanout_queue_2"/>-->
        <rabbit:listener ref="topicListenerStar" queue-names="spring_topic_queue_star"/>
        <rabbit:listener ref="topicListenerWell" queue-names="spring_topic_queue_well"/>
        <rabbit:listener ref="topicListenerWell2" queue-names="spring_topic_queue_well2"/>
        <!-- 消息手动签收确认 -->
        <rabbit:listener ref="consumerAcknowledge" queue-names="spring_fanout_queue_2"/>
    </rabbit:listener-container>
</beans>
